<header>
    <nav class="bg-gray-100">
        <div class="max-w-6xl mx-auto">
            <div class="flex justify-between">
                <div class="flex space-x-4">
                    <div>
                        <a
                            href="/"
                            class="flex items-center py-5 px-3 text-gray-700"
                            ><svg
                                class="h-6 w-6 mr-1 text-blue-500"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"
                                />
                            </svg>
                            <span class="font-bold">CIC</span>
                        </a>
                    </div>
                    <div class="flex items-center space-x-1">
                        <a href="q" class="py-5 px-3 text-gray-700 hover:text-gray-900">Spiritual Gifts Quiz</a>
                        <a href="#" class="py-5 px-3 text-gray-700 hover:text-gray-900">Pricing</a>
                    </div>
                </div>

                <div class="flex items-center space-x-1">
                    <a href="#" class="py-5 px-3 text-gray-700 hover:text-gray-900">Login</a>
                    <a href="#" class="py-2 px-3 bg bg-yellow-400 text-yellow-800 rounded">Signup</a>
                </div>
            </div>
        </div>
        <!-- <ul>
            <li><a href="giftsTest.html" class="">Spiritual Gifts Test</a></li>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="login.html">Login</a></li>
        </ul> -->
    </nav>
</header>