<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ template "head.html" . }}
        <title>Testing</title>
    </head>
    <body>
        <!-- this page is for testing only -->

        {{ template "header.html" .}}

        <ul>
            {{range $question := .}}
            <li>
                <h3>Question #{{$question.Id}}</h3>
                <p>{{$question.Content}}</p>
            </li>
            {{end}}
        </ul>
    </body>
</html>
